<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1">

      <meta id="my-data" data-bound="{{area_bound}}">

    <title>{{area_info.name}}</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->

  </head>

  <body>
    
    <div class="container">

      <section class="headeer">
        <h1>{{area_info.name}}</h1>
      </section>

      <section class="row">
        <div class="col-md-6">
            <h2>Crimes in {{area_info.name}}</h2>
            <ul class="list-group">
          {% for crime_type in crime_types %}
            <li class="list-group-item">
              <p>{{crime_type.type}}</p>
              <div class="well-sm">{{crime_type.count}}</div>
            </li>
          {% endfor %}
          </ul>
        </div>

        <h2>Census Data for {{area_info.name}}</h2>
        <div class="col-md-6">
          <table class="table">
            <thead>
                <tr>
                    <th>Percent of Housing Crowded</th>
                    <th>Households Below Poverty</th>
                    <th>Per Capita Income</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                  <td>{{area_info.crowded}}</td>
                  <td>{{area_info.poverty}}</td>
                  <td>{{area_info.per_capita}}</td>
                </tr>
            </tbody>
          </table>

        </div>

        <div id="map"></div>

      </section>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDXO69EdVtG8FKcFCtqtjg8TaUvsi-GkxI"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="../static/app.js"></script>
  </body>
</html>
